<div>
  <h2>Add record</h2>
  <form>
    <div class="mb-3">
      <label class="form-label">Jogging date:</label>
      <input type="date" class="form-control" placeholder="dd/mm/yyyy">
    </div>

    <div class="mb-3">
    <label class="form-label">Distance (m)</label>
    <input class="form-control" placeholder="0">
    </div>

    <div class="mb-3">
    <label class="form-label">Time (s)</label>
    <input class="form-control" placeholder="0">
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>
