<div>
  <h2>Add record</h2>
  <form (submit)="$event.preventDefault()" id="add-record-form">
    <div class="mb-3">
      <label class="form-label">Jogging date:</label>
      <input type="date" class="form-control" #date placeholder="dd/mm/yyyy" (change)="record.date = date.value">
    </div>

    <div class="mb-3">
    <label class="form-label">Distance (m)</label>
    <input class="form-control" #distance placeholder="0" (input)="record.distance = distance.value">
    </div>

    <div class="mb-3">
    <label class="form-label">Time (s)</label>
    <input class="form-control" #time placeholder="0" (input)="record.time = time.value">
    </div>

    <input type="submit" class="btn btn-primary" (click)="onSubmit()" value="Save">
  </form>
</div>
